@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat";
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #ff0000d8;
  padding: 16px 0;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.607);
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.logo-container > img {
  border-radius: 100%;
  max-width: 100%;
  max-height: 48px;
  margin-right: 16px;
}

.logo-container > h1 {
  font-weight: 800;
  font-size: 48px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#download-button:active {
  animation: pulse 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s ease-in-out;
}

.button-container {
  margin-left: auto;
  margin-right: 2rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-image: url("./assets/imgs/downloadIcon.png");
  background-size: cover;
  color: black;
  border: none;
  cursor: pointer;
  animation: pulse 0.5s;
}

@media (max-width: 600px) {
  header {
    max-width: calc(100% - 20px);
    padding: 8px 10px;
  }
  header > img {
    border-radius: 100%;
    max-height: 24px;
  }

  header > h1 {
    font-weight: 800;
    font-size: 24px;
  }
}
